body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}


.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

.container1 {
  width: 500px;
  margin: auto;
  margin-top: 50px;
  padding: 20px;
  overflow: hidden;
  background-color: #e7e7e7;
  border-radius: 30px;
}



h1 {
  text-align: center;
  color: #212529;
}

table {
  width: 100%;
  margin: 20px 0;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid #ddd;
}

th, td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  letter-spacing: 3px;
  outline: none;
  color: #fff;
  background-color: #0a3a6b;
  border: none;
  border-radius: 8px;
  margin-right: 10px;
}

.button:hover {background-color: #0755a3}

.button:active {
  transform: translateY(2px);
}

form {
  margin: 20px 0;
}


form label {
  display: inline-block;
  width: 150px;
  font-weight: bold;
}

form input[type="text"], 
form input[type="number"],
form input[type="email"],
form input[type="datetime-local"] {
  width: 300px;
  padding: 5px;
  margin-bottom: 10px;
}

.but001{
  width: 200px;
  height: 30px;
  margin: 20px;
  border-radius: 5px;
  border: 2px solid #212529;
}

.but002{
  width: 200px;
  height: 30px;
  margin: 20px;
  border-radius: 5px;
  border: 2px solid #212529;
}

.but003{
  display: inline-block;
  padding: 5px 10px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #212529;
  border: none;
}
.but003:hover {transform: translateY(2px);}


